.home {
    position: relative;
    display: flex;
    width: 100%;
    padding: 100px;
    background: var(--main-gray);
}

.home__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}

/**** HEADER ****/

.section__header {
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--back-color-black);
}

.header .logo {
    position: relative;
    max-width: 80px;
}

.header ul {
    position: relative;
    display: flex;
}

.header ul li a {
    display: inline-block;
    color: var(--color-white);
    font-weight: 400;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .content__text {
    position: relative;
    max-width: 600px;
}

.content .content__text h2 {
    color: var(--main-policy-black);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .content__text h2 span {
    color: var(--main-policy-red);
    font-size: 1.2em;
    font-weight: 900;
}

.content .content__text p {
    color: var(--main-policy-black);
}

.btn__start {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.5rem;
    background: var(--main-policy-red);
    color: var(--color-white);
    padding: 8px 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow-box);
    border: 1px solid transparent;
}

.btn__start:hover {
    color: var(--main-policy-red);
    background: var(--color-white);
    border: 1px solid var(--main-policy-red);
}

.content .content__img {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .content__img img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-red);
    clip-path: ellipse(25% 30% at 82% 55%);
}

@media (max-width: 991px) {
    .header {
        padding: 20px;
    }
    .header .logo {
        max-width: 60px;
    }
    .header ul {
        display: none;
    }
    .header ul li a {
        font-size: 1.5rem;
        margin: 5px 0;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(/assets/img/home/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    .toggle.active {
        position: fixed;
        right: 20px;
        background: url(/assets/img/home/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .header ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--back-color-black);
        z-index: 10;
    }
    .section__header {
        padding: 20px 20px 120px;
    }
    .content {
        flex-direction: column;
        margin-top: 140px;
    }
    .content .content__text {
        max-width: 100%;
    }
    .content .content__text h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
        text-align: center;
    }
    .content .content__img {
        max-width: 100%;
        justify-content: center;
    }
    .content .content__img img {
        max-width: 300px;
    }
    .thumb li img {
        max-width: 40px;
    }
    .circle {
        clip-path: circle(400px at center bottom);
    }
    .social {
        background: var(--main-policy-red);
        right: 0;
        width: 50px;
        padding-right: 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}


/**** ABOUT ****/


.about__container {
    min-height: 40vh;
    border-top: 1px solid var(--color-black);
    flex-direction: column;
    padding: 60px 100px;
}

.about {
    display: flex;
    width: 100%;
}

.about__img {
    width: 50%;
}

.about__img img {
    width: 100%;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow-box);
}

.about__text {
    width: 50%;
    padding: 0 20px;
}

.about__text h3 {
    text-align: center;
    padding-bottom: 10px;
}

.about__text-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
    background-color: var(--color-black);
    color: #fff;
    padding: 10px 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow-box);
}

.about__text-box img {
    width: 40px;
}

.about__desc {
    padding: 20px 10px;
    text-align: justify;
}


/**** GAME ****/


.game__container {
    min-height: 40vh;
    border-top: 1px solid var(--color-black);
    flex-direction: column;
    padding: 60px 100px;
}

.game {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.game__box {
    width: 100%;
}

.game__box-img {
    width: 100%;
    text-align: center;
}

.game__box-img img {
    width: 80%;
}

.game__box-text {
    margin: auto;
    width: 80%;
    text-align: justify;
    padding: 20px 0;
}


/**** CHARACTERS ****/


.characters__container {
    min-height: 60vh;
    border-top: 1px solid var(--color-black);
    flex-direction: column;
    padding: 60px 100px;
}

.characters {
    display: flex;
    flex-direction: column;
}

.characters__img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.characters__img img {
    width: 25%;
    padding: 0 50px;
}

.characters__text {
    padding: 50px 0;
}

.btn-characters {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    background: var(--main-policy-red);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow-box);
    border: 1px solid transparent;
}

.btn-characters:hover {
    color: var(--main-policy-red);
    background: var(--color-white);
    border: 1px solid var(--main-policy-red);
}

@media (max-width: 991px) {
    .characters__img {
        flex-direction: column;
        align-items: center;
    }
    .characters__img img {
        width: 60%;
        padding: 0 10px;
    }
}

@media (max-width: 500px) {
    .characters__img img {
        width: 100%;
        padding: 0 30px;
    }
}

