@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-policy-red:#B70000;
    --main-policy-black:#333;

    --color-black: #000;
    --color-white: #fff;

    --main-gray:#F2F2F2;
    --main-red:#720000;
    --main-purple:#730073;
    --main-green: #007300;

    --back-color-black: #24262b;

    --transition: all 400ms ease;
    --radius: 5px;
    --shadow-box: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 1600px !important;
    margin: auto !important;
    background: var(--main-gray);
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.message__text {
    position: absolute;
    display: block;
    width: 50%;
    margin: auto;
    top: 15vh;
    z-index: 12;
    text-align: center;
 }


/**** NAVBAR GLOBAL****/


.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--back-color-black);
    font-family: 'Poppins', sans-serif;
    z-index: 100;
}

.navbar .logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--color-white);
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li a {
    display: inline-block;
    color: var(--color-white);
    font-weight: 400;
    margin-left: 40px;
    padding-top: 10px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

@media (max-width: 991px) {
    .navbar {
        padding: 20px;
    }
    .navbar .logo {
        font-size: 2rem;
    }
    .navbar ul {
        display: none;
    }
    .navbar ul li a {
        font-size: 1.5rem;
        margin: 5px 0;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(/assets/img/home/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11;
    }
    .toggle.active {
        position: fixed;
        right: 20px;
        background: url(/assets/img/home/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .navbar ul.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--back-color-black);
        z-index: 10;
    }
    .thumb li img {
        max-width: 40px;
    }
}


/*====================================== FOOTER ======================================*/


.footer {
    background: var(--back-color-black);;
    padding: 70px 20px;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
}

.footer__col {
    width: 25%;
    padding: 0 15px;
}

.footer__col h4 {
    font-size: 18px;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer__col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__list a {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 300;
    display: block;
    transition: var(--transition);
}

.footer__list a:hover {
    color: var(--color-white);
    padding-left: 8px;
}

.footer__col-links {
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__col-links img {
    height: 25px;
}

.footer__col-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: var(--color-white);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: var(--radius);
    transition: var(--transition);
}

.footer__col-links a:hover {
    padding-left: 0;
    background: #e91e63;
}

@media (max-width: 991px) {
    .footer__col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .footer__col {
        width: 100%;
        margin-bottom: 30px;
    }
}