/*=================== LOGIN & REGISTER & PROFIL =================== */

.users {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register {
    background: url(/assets/img/back/back_inazuma.jpg);
    background-size: cover;
}

.profil {
    background: url(/assets/img/back/back_inazuma.jpg);
    background-size: cover;
}

.register__container,
.login__container {
    margin-top: 20px;
    padding: 40px 100px;
    background: #fff;
    box-shadow: var(--shadow-box);
    min-height: 300px;
}

.register__container form,
.login__container form {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.register__container form input,
.login__container form input {
    margin: 10px 0;
}

.register__container h1,
.login__container h1 {
    color: #eb7371;
    text-align: center;
}

.register__control,
.login__control {
    border: none;
    border-bottom: 1px solid var(--color-black);
    background: var(--color-white-lg);
}

.btn__register,
.btn__control {
    width: 50%;
    margin: auto;
    border: 1px solid transparent;
}

.btn__register:hover,
.btn__control:hover {
    border: 1px solid var(--color-black);
    background: var(--color-white-lg);
}

/*====================================== PROFIL ======================================*/

.login {
    background: url(/assets/img/back/back_inazuma.jpg);
    background-size: cover;
}

.container__profil {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    padding: 40px 100px;
    background: #fff;
    box-shadow: var(--shadow-box);
    min-height: 400px;
    min-width: 400px;
}

.container__profil h1 {
    text-align: center;
    font-size: 50px;
}

.container__profil-box {
    display: flex;
}

.profil__box-text {
    padding: 20px;
    width: 60%;
}

.profil__box-img {
    width: 40%;
}

.profil__box-img img {
    width: 100%;
    object-fit: cover;
}